﻿@using Administration.Models;
@using ModuleChooser.Resources.Enums;
@using ModuleChooser.Resources.Strings;

@{
    ViewBag.Title = Strings.AddPrerequisite;
}

@section RenderCss {
    <link rel="stylesheet" href="~/Content/AddPrerequisite.css" type="text/css" />
}

@model AddPrerequisiteModel

<h2>@Strings.AddPrerequisite</h2>

<form id="form">
    <div>
        @Html.LabelFor(m => m.Module)
        @Html.DropDownListFor(m => m.Module, Model.Modules)
        @Html.ValidationMessageFor(m => m.Module)
    </div>

    <div>
        @Html.LabelFor(m => m.Prerequisite)
        @Html.DropDownListFor(m => m.Prerequisite, Model.PrerequisiteModules)
        <span id="validationMessage" hidden="hidden"></span>
    </div>
    <div>
        <input type="button" class="button" onclick="submitForm()" value="Save" />
    </div>
</form>
<script type="text/javascript">
    function submitForm() {
        //Get the moduleid and prerequisiteId, set up model to be sent as payload in SavePrerequisite POST request
        var model = {
            moduleId: $('#Module').find(":selected").val(),
            prerequisiteId: $('#Prerequisite').find(":selected").val()
        };

        var validationMessage = $('#validationMessage');

        //Check to see if the module values are the same, if so then show error message
        if (model.moduleId == model.prerequisiteId) {
            validationMessage.removeAttr('hidden');
            document.getElementById("validationMessage").innerHTML = "@Strings.PleaseEnsureModulesAreDifferent";
            validationMessage.addClass("validation-error")
            return;
        }

        $.ajax({
            type: "POST",
            url: "@Url.Action("SavePrerequisite", "Module")",
            data: model,
            success: function (response) {
                //If the prerequisite already exists then show error response message
                if (response == @((int)SavePrerequisiteResponseEnum.AlreadyExists)){
                    validationMessage.removeAttr('hidden');
                    document.getElementById("validationMessage").innerHTML = "@Strings.ThisCombinationAlreadyExistsPleaseAddNewPrerequisite";
                    validationMessage.addClass("validation-error")
                }
                //If the prerequisite is a future module then show error response message
                else if (response == @((int)SavePrerequisiteResponseEnum.FutureModuleUsed)){
                    validationMessage.removeAttr('hidden');
                    document.getElementById("validationMessage").innerHTML = "@Strings.TryingToAddPrerequisiteWhichOccursInFuture";
                    validationMessage.addClass("validation-error")
                }
                else {
                    //Otherwise if successful go to the list of prereqs
                    window.location.replace("@Url.Action("Prerequisites", "Module")");
                }
            }
        });
    }
</script>
