﻿@using Administration.Site.Models;
@using ModuleChooser.Resources.Strings;

@{
    ViewBag.Title = Strings.EditModule;
}

@section RenderCss {
    <link rel="stylesheet" href="~/Content/AddModule.css" type="text/css" />
}

@model ModuleEditModel

<h2>@Strings.EditModule</h2>

<form id="form" action="@Url.Action("SaveExistingModule", "Module")" method="post">
    @Html.HiddenFor(m => m.ModuleId)
    <div id="information-div">
        <h3>Module Information:</h3>
        <hr />
        <div>
            @Html.LabelFor(m => m.ModuleCode, new { @class = "information-label" })
            @Html.TextBoxFor(m => m.ModuleCode)
            @Html.ValidationMessageFor(m => m.ModuleCode)
        </div>
        <div>
            @Html.LabelFor(m => m.Title, new { @class = "information-label" })
            @Html.TextBoxFor(m => m.Title)
            @Html.ValidationMessageFor(m => m.Title)
        </div>
        <div>
            @Html.LabelFor(m => m.Credits, new { @class = "information-label" })
            @Html.EditorFor(m => m.Credits)
            @Html.ValidationMessageFor(m => m.Credits)
        </div>
        <div>
            @Html.LabelFor(m => m.Semester, new { @class = "information-label" })
            @Html.DropDownListFor(m => m.Semester, Model.SemesterOptions)
            @Html.ValidationMessageFor(m => m.Semester)
        </div>
        <div>
            @Html.LabelFor(m => m.YearOfStudy, new { @class = "information-label" })
            @Html.DropDownListFor(m => m.YearOfStudy, Model.YearOptions)
            @Html.ValidationMessageFor(m => m.YearOfStudy)
        </div>
        <div>
            @Html.LabelFor(m => m.Url, new { @class = "information-label" })
            @Html.TextBoxFor(m => m.Url)
            @Html.ValidationMessageFor(m => m.Url)
        </div>
    </div>
    <div>
        <input class="button" type="submit" value="Save" />
    </div>
</form>