﻿@using Administration.Site.Models
@using ModuleChooser.Resources.Strings;

@{
    ViewBag.Title = Strings.ModuleList;
    ViewBag.Heading = Strings.ModuleList;

    //Get the number of years to use later
    var numberOfYears = Model.Select(m => m.YearOfStudy).Max();
}

@model List<ModuleModel>

@for (int i = 1; i < numberOfYears + 1; i++)
{
    <table id="table_id_@(i)" class="table table-condensed table-striped table-hover">
        <thead>
            <tr>
                <th>
                    @Strings.Title
                </th>
                <th>
                    @Strings.Credits
                </th>
                <th>
                    @Strings.ModuleCode
                </th>
                <th>
                    @Strings.Semester
                </th>
                <th>
                    @Strings.YearOfStudy
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Where(m => m.YearOfStudy == i))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Credits)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModuleCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Semester)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.YearOfStudy)
                    </td>
                    <td>
                        @Html.ActionLink(@Strings.Edit, "Edit",
                     new { moduleId = item.ModuleId }, htmlAttributes: new
                     {
                         @class = "btn btn-default btn-sm"
                     })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}