﻿@using ModuleChooser.Resources.Dtos
@using ModuleChooser.Resources.Strings;

@{
    ViewBag.Title = Strings.Prerequisites;
}
@model List<PrerequisiteListDto>

<h2>@Strings.Prerequisites</h2>

@Html.ActionLink(Strings.AddPrerequisite, "AddPrerequisite")

<table id="table_id" class="table table-condensed table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Strings.Prerequisite
            </th>
            <th>

            </th>
            <th>
                @Strings.Module
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Prerequisite)
                </td>
                <td>
                    ->
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Module)
                </td>
                <td>
                <td>

                </td>
            </tr>
        }
    </tbody>
</table>