﻿body {
    background-color: white !important;
}

input[type=text], input[type=password] {
    display: inline;
    height: 40px;
    margin-bottom: 5%;
    width: 100%;
    font-size: 2em;
}

form {
    width: 50%;
    margin: 0 auto;
    margin-top: 10%;
}

label {
    width: 100%;
    font-size: 2.5em;
    display: inline;
}

input[type=submit] {
    display: inline-block;
    font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
    background-color: rgb(179, 27, 27);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    margin-top: 5%;
    cursor: pointer;
}
