﻿body {
    width: 100%;
    min-width: 700px;
    min-height: 500px;
    background-color:#51504c;
}

.container {
    background-color: white;
    width:100%;
    min-height:100vh;
}

footer {
    background: grey;
    padding: 10px;
    height: 50px;
    width: 100%;
    /*position:fixed;
    bottom: 0;*/
}

.img-div {
    content:"";
    width: 100%;
    background: #101010;
    height:150px;
}
#header-div {
    float:right;
    width:100%;
}

#uni-logo {
    width: 350px;
    height: 100px;
    margin: auto;
    margin-right: 5%;
    margin-top: 40px;
    float: right;
    filter: invert(100%);
}

#copyright-logo {
    color: white;
}