﻿@using ModuleChooser.Resources;
@using ModuleChooser.Resources.Strings;

@{
    ViewBag.ShowLogo = false;
    //Get modules for each year and each semester and group them in to seperate lists
    var yearTwoSemesterOneModules = Model.Where(m => m.YearOfStudy == 2 && (m.Semester == 1 || m.Semester == 3));
    var yearTwoSemesterTwoModules = Model.Where(m => m.YearOfStudy == 2 && (m.Semester == 2 || m.Semester == 3));
    var yearThreeSemesterOneModules = Model.Where(m => m.YearOfStudy == 3 && (m.Semester == 1 || m.Semester == 3));
    var yearThreeSemesterTwoModules = Model.Where(m => m.YearOfStudy == 3 && (m.Semester == 2 || m.Semester == 3));
    var yearFourSemesterOneModules = Model.Where(m => m.YearOfStudy == 4 && (m.Semester == 1 || m.Semester == 3));
    var yearFourSemesterTwoModules = Model.Where(m => m.YearOfStudy == 4 && (m.Semester == 2 || m.Semester == 3));

    var tooltipTitle = Strings.PreferredIfAnotherPreferredToolTip;
}

@section RenderCss {
    <link rel="stylesheet" href="~/Content/Reports.css" type="text/css" />
}

@model List<ModuleInformationDto>

<h3>
    @Strings.PercentageOfTimesModuleHasBeenPreferredIfAnotherModuleHasAlsoBeenPreferred
    <i data-toggle="tooltip" title="@tooltipTitle" class="fa fa-question-circle"></i>
</h3>


<label id="year-label" for="year-dropdown">@Strings.Year:</label>
@* Year options *@
<select id="year-dropdown" onchange="yearChanged()">
    <option>2</option>
    <option>3</option>
    <option>4</option>
</select>

<label id="semester-label" for="semester-dropdown">@Strings.Semester:</label>
@* Semester options *@
<select id="semester-dropdown" onchange="semesterChanged()">
    <option>1</option>
    <option>2</option>
</select>

<label id="module-label" for="module-dropdown">Module:</label>
<select id="module-dropdown">
    @*As a default, show the modules in the dropdown from semester one in year 2 or modules spanning over both semesters*@
    @foreach (var module in Model
        .Where(m => m.YearOfStudy == 2 &&
        (m.Semester == 1 || m.Semester == 3)))
    {
        <text>
            <option>
                @module.ModuleCode
            </option>
        </text>
    }
</select>

<input class="report-button" id="view-preferred-together-button" value="View Chart" type="button" onclick="getPreferredTogetherChart()" />

<hr />
<div id="preferred-together-chart">
</div>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    function yearChanged() {
        //Get the year value
        var year = $("#year-dropdown").val();

        //Set the semester index to 0
        document.getElementById("semester-dropdown").selectedIndex = 0;

        var html = "";

        //Depending on the year, add the module options from the year and semester one to the module dropdown list
        if (year == 2) {
            @foreach(var module in yearTwoSemesterOneModules)
            {
                <text>
                    html += "<option>".concat("@module.ModuleCode").concat("</option>");
                </text>
            }
        }
        else if (year == 3) {
            @foreach(var module in yearThreeSemesterOneModules)
            {
                <text>
                    html += "<option>".concat("@module.ModuleCode").concat("</option>");
                </text>
            }
        }
        else if (year == 4) {
            @foreach(var module in yearFourSemesterOneModules)
            {
                <text>
                    html += "<option>".concat("@module.ModuleCode").concat("</option>");
                </text>
            }
        }

        //Clear the dropdown data that was currently there and add the options defined in this method.
        $("#module-dropdown").empty();
        $("#module-dropdown").html(html)
    }


    function semesterChanged() {
        //Get the year value and semester value
        var year = $("#year-dropdown").val();
        var semester = $("#semester-dropdown").val();

        var html = "";
        //Depending on the year and semester, add the module options from the year and semester to the module dropdown list
        if (year == 2 && semester == 1) {
            @foreach(var module in yearTwoSemesterOneModules)
            {
                <text>
                    html += "<option>".concat("@module.ModuleCode").concat("</option>");
                </text>
            }
        }
        else if (year == 3 && semester == 1) {
            @foreach(var module in yearThreeSemesterOneModules)
            {
                <text>
                    html += "<option>".concat("@module.ModuleCode").concat("</option>");
                </text>
            }
        }
        else if (year == 4 && semester == 1) {
            @foreach(var module in yearFourSemesterOneModules)
            {
                <text>
                    html += "<option>".concat("@module.ModuleCode").concat("</option>");
                </text>
            }
        }
        else if (year == 2 && semester == 2) {
            @foreach(var module in yearTwoSemesterTwoModules)
            {
                <text>
                    html += "<option>".concat("@module.ModuleCode").concat("</option>");
                </text>
            }
        }
        else if (year == 3 && semester == 2) {
            @foreach(var module in yearThreeSemesterTwoModules)
            {
                <text>
                    html += "<option>".concat("@module.ModuleCode").concat("</option>");
                </text>
            }
        }
        else if (year == 4 && semester == 2) {
            @foreach(var module in yearFourSemesterTwoModules)
            {
                <text>
                    html += "<option>".concat("@module.ModuleCode").concat("</option>");
                </text>
            }
        }

        //Clear the dropdown data that was currently there and add the options defined in this method.
        $("#module-dropdown").empty();
        $("#module-dropdown").html(html)
    }

    function getPreferredTogetherChart() {
        //Get the module code selected
        var moduleCode = $("#module-dropdown").val();
        var url = "@Url.Action("PercentageOfTimesModulePreferredIfSelectedModuleHasAlsoBeenPreferredChartData", "Reports")";

        //Call GET method on the url and pass a module code. Parse the HTML response and render this in the preferred-together-chart div
        $.ajax({
            url: url,
            type: "GET",
            data: {
                moduleCode: moduleCode
            },
            success: function (response) {
                $("#preferred-together-chart").html(response);
            }
        });
    }
</script>
