﻿@using ModuleChooser.Resources.Dtos;
@using ModuleChooser.Resources.Strings;

@{
    ViewBag.ShowLogo = false;
}

@section RenderCss {
    <link rel="stylesheet" href="~/Content/Reports.css" type="text/css" />
}

@model List<MostPopularSetsOfPreferredModulesDto>

<h3>@Strings.MostPopularSetsOfPreferredModules</h3>

<canvas id="myChart" style="width: 100%; height:400px;"></canvas>

<script>
    var ctx = document.getElementById("myChart").getContext('2d');
    var labels = [];
    var data = [];
    var backgroundColours = [];
    var borderColours = [];

    @foreach (var model in Model)
    {
        <text>
            labels.push("@(model.ModuleSet)");
            data.push(@(model.PercentageOfStudentsWhoPreferModuleSet));
            backgroundColours.push('rgba(255, 99, 132, 0.2)')
            borderColours.push('rgba(255,99,132,1)');
        </text>
    }

    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: "@Strings.PercentageOfStudentsWhoHavePreferredThisSetOfModules",
                data: data,
                backgroundColor: backgroundColours,
                borderColor: borderColours,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        autoSkip: false,
                        beginAtZero: true,
                        max: 100
                    },
                    scaleLabel: {
                        display: true,
                        labelString: "@Strings.PercentageWithSymbol",
                    }
                }],
                xAxes: [{
                    ticks: {
                        autoSkip: false
                    },
                    scaleLabel: {
                        display: true,
                        labelString: "@Strings.ModuleCodeSets",
                    }
                }]
            }
        }
    });
</script>

