﻿@using ModuleChooser.Resources.Strings;

@{
    ViewBag.Title = Strings.PreferencesReports;

    //Create list of reporting options to choose
    var options = new List<string>();
    options.Add(Strings.NumberOfTimesModuleHasBeenPreferred);
    options.Add(Strings.NumberOfStudentsWhoPreferModulesTogether);
    options.Add(Strings.NumberOfTimesAModuleHasBeenPreferredIfAnotherModuleHasAlsoBeenPreferred);
    options.Add(Strings.Top10PreferredSetsOfModules);
}

@section RenderCss {
    <link rel="stylesheet" href="~/Content/Reports.css" type="text/css" />
}

<h2>@Strings.PreferencesReports</h2>

@Html.Label("Reports Options:", new { @id = "report-label", @for = "Reports" })

@Html.DropDownList("Reports", new SelectList(options), new { @onchange = "optionChanged()" })
<input class="report-button" id="report-button" value="View Report" type="button" onclick="getReport()" />

<hr />
<div id="report-div">
</div>

<script>
    function optionChanged() {
        //Depending on what the option has changed to it will either show View Options or View Report
        var reportsValue = $("#Reports").val();
        if (reportsValue != "@Strings.NumberOfTimesModuleHasBeenPreferred" && reportsValue != "@Strings.Top10PreferredSetsOfModules") {
            $("#report-button").attr("value", "@Strings.ViewOptions");
        }
        else {
            $("#report-button").attr("value", "@Strings.ViewReport");
        }
    }
    function getReport() {
        var reportsValue = $("#Reports").val();
        var url = "@Url.Action("StudentsWhoPreferCertainModulesTogether", "Reports")";

        //Get the option chosen.
        if (reportsValue == "@Strings.NumberOfTimesModuleHasBeenPreferred") {
            url = "@Url.Action("NumberOfTimesModulePreferred", "Reports")";
        }
        else if (reportsValue == "@Strings.NumberOfTimesAModuleHasBeenPreferredIfAnotherModuleHasAlsoBeenPreferred") {
            url = "@Url.Action("ModulesPreferredIfAnotherModuleHasAlsoBeenPreferred", "Reports")";
        }
        else if (reportsValue == "@Strings.Top10PreferredSetsOfModules") {
            url = "@Url.Action("MostPopularSetsOfPreferredModules", "Reports")";
        }

        //Depending on the option chosen, call the GET method on the url and then render the response HTML into the report-div
        $.ajax({
            url: url,
            type: "GET",
            success: function (response) {
                $("#report-div").html(response);
            }
        });
    }
</script>