﻿@using Administration.Site.Models;
@using ModuleChooser.Resources.Strings;

@{
    ViewBag.Title = Strings.AddStudent;
}

@section RenderCss {
    <link rel="stylesheet" href="~/Content/AddModule.css" type="text/css" />
}

@model StudentAddModel

<h2>@Strings.AddStudent</h2>

<form id="form" action="@Url.Action("AddNewStudent", "Student")" method="post">
    <div id="information-div">
        <h3>@Strings.StudentInformation:</h3>
        <hr />
        <div>
            @Html.LabelFor(m => m.FirstName, new { @class = "information-label" })
            @Html.TextBoxFor(m => m.FirstName)
            @Html.ValidationMessageFor(m => m.FirstName)
        </div>
        <div>
            @Html.LabelFor(m => m.Surname, new { @class = "information-label" })
            @Html.TextBoxFor(m => m.Surname)
            @Html.ValidationMessageFor(m => m.Surname)
        </div>
        <div>
            @Html.LabelFor(m => m.Course, new { @class = "information-label" })
            @Html.DropDownListFor(m => m.Course, Model.CourseOptions)
            @Html.ValidationMessageFor(m => m.Course)
        </div>
        <div>
            @Html.LabelFor(m => m.Username, new { @class = "information-label" })
            @Html.TextBoxFor(m => m.Username)
            @Html.ValidationMessageFor(m => m.Username)
        </div>
    </div>
    <div>
        <input class="button" type="submit" value="Save" />
    </div>
</form>