﻿@using Administration.Site.Models;
@using ModuleChooser.Resources.Strings;

@{
    ViewBag.Title = Strings.EditStudent;
}
@section RenderCss {
    <link rel="stylesheet" href="~/Content/AddModule.css" type="text/css" />
}
@model StudentEditModel

<h2>@Strings.EditStudent</h2>

<form id="form" action="@Url.Action("SaveExistingStudent", "Student")" method="post">
    @Html.HiddenFor(m => m.StudentId)
    <div id="information-div">
        <h3>@Strings.StudentInformation:</h3>
        <hr />
        <div>
            @Html.LabelFor(m => m.FirstName, new { @class = "information-label" })
            @Html.TextBoxFor(m => m.FirstName)
            @Html.ValidationMessageFor(m => m.FirstName)
        </div>
        <div>
            @Html.LabelFor(m => m.Surname, new { @class = "information-label" })
            @Html.TextBoxFor(m => m.Surname)
            @Html.ValidationMessageFor(m => m.Surname)
        </div>
        <div>
            @Html.LabelFor(m => m.Course, new { @class = "information-label" })
            @Html.DropDownListFor(m => m.Course, Model.CourseOptions)
            @Html.ValidationMessageFor(m => m.Course)
        </div>
        <div>
            @Html.LabelFor(m => m.YearOfStudy, new { @class = "information-label" })
            @Html.DropDownListFor(m => m.YearOfStudy, Model.YearOptions)
            @Html.ValidationMessageFor(m => m.YearOfStudy)
        </div>
    </div>
    <div>
        <input class="button" type="submit" value="Save" />
    </div>
</form>