﻿@using Administration.Site.Models
@using ModuleChooser.Resources.Strings;

@{
    ViewBag.Title = Strings.StudentList;
    ViewBag.Heading = Strings.StudentList;
}

@model List<StudentModel>

<table id="table_id" class="table table-condensed table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Strings.Name
            </th>
            <th>
                @Strings.Course
            </th>
            <th>
               @Strings.YearOfStudy
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearOfStudy)
                </td>
                <td>
                    @Html.ActionLink(Strings.EditStudent, "EditStudent",
                         new { studentId = item.StudentId }, htmlAttributes: new
                         {
                             @class = "btn btn-default btn-sm add-modules-button"
                         })
                </td>
            </tr>
        }
    </tbody>
</table>