﻿@using PotentialStudent.Site.Models
@using ModuleChooser.Resources.Strings;

@model List<ModuleListModel>

@{
    ViewBag.ShowLogo = false;
    var numberOfYears = Model.Select(m => m.YearOfStudy).Max();
}

@* For each year do the following *@
@for (int i = 1; i < numberOfYears + 1; i++)
{
    //Create initial variables
    var credits = 0;
    var semesterOneAmount = 0;
    var semesterTwoAmount = 0;

    //foreach item which is either compulsory or preferred do the following
    foreach (var item in Model.Where(m => m.YearOfStudy == i && (m.Compulsory)))
    {
        //Add the credits of the module on to the running total
        credits += item.Credits;

        //Check if the module is in semester 1, 2, or both. Add credits to the semester ammount accordingly
        if (item.Semester == "1")
        {
            semesterOneAmount += item.Credits;
        }
        else if (item.Semester == "2")
        {
            semesterTwoAmount += item.Credits;
        }
        else
        {
            //If the semester spans over both then split the credits evenly
            semesterOneAmount += item.Credits / 2;
            semesterTwoAmount += item.Credits / 2;
        }
    }

    //Container which is used to contain the modules
    <div class="module-container">
        <div style="cursor:pointer; width:100%;" id="course-year-@(i)-header" onclick="courseYearHeaderClicked(@(i))">
            <h4 id="@("semester_split_for_year_"+ i)" style="width:65%; margin-right:0px !important; display:inline-block;">Year @i - Selected Semester Credit Split: @semesterOneAmount/@semesterTwoAmount</h4>
            <h4 style="margin-left:1%; margin-right:1%; float:right; width: 1%;"><i id="title_icon_for_year_@i" class="fa fa-angle-down"></i></h4>
            <h4 id="@("credits_for_year_"+ i)" style="float:right; width:31%; text-align:right;">@credits/120 Credits selected</h4>
            <h4 style="width:1%; float:right;"><i style="@(credits == 120 ? "color:green" : "color:red")" id="credits_selection_progress_icon_for_year_@i" class="fa fa-circle"></i></h4>
        </div>
        <div id="course-year-@(i)-modules" class="course-year-modules">
            <table class="table table-condensed table-striped table-hover">
                <thead>
                    <tr>
                        <th>@Strings.Title</th>
                        <th></th>
                        <th>@Strings.Credits</th>
                        <th>@Strings.ModuleCode</th>
                        <th>@Strings.Semester</th>
                        <th>@Strings.Year</th>
                        <th>@Strings.OptionChosen</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Where(m => m.YearOfStudy == i))
                    {
                        item.Semester = item.Semester == "3" ? "Both" : item.Semester;
                        var rowId = "row_for_" + item.ModuleId;

                        <tr id="@rowId" class="@(@item.Compulsory ? "compulsoryModule" : "non-compulsory-module " + (item.AbleToBeChosen ? "module-able-to-be-chosen" : "module-unable-to-be-chosen")) module">
                            <td style="width:60%;" class="@(@item.Compulsory ? "compulsoryModule" : item.AbleToBeChosen ? "module-able-to-be-chosen" : "module-unable-to-be-chosen")" onclick="@(@item.Compulsory ? "" : "rowClicked(\""+rowId+"\");")">
                                @Html.DisplayFor(modelItem => item.Title)
                                @if (!item.Compulsory)
                                {
                                    <i id="title_icon_for_@item.ModuleId" title="View Module Pathways" class="fa fa-angle-down"></i>
                                }
                            </td>
                            <td class="@(@item.Compulsory ? "compulsoryModule" : item.AbleToBeChosen ? "module-able-to-be-chosen" : "module-unable-to-be-chosen")">
                                <a href="@(item.Url)" target="_blank"><i title="View more information" class="fa fa-info-circle"></i></a>
                            </td>
                            <td id="@("credits_for_"+ item.ModuleId)" class="@(@item.Compulsory ? "compulsoryModule" : item.AbleToBeChosen ? "module-able-to-be-chosen" : "module-unable-to-be-chosen")" onclick="@(@item.Compulsory ? "" : "rowClicked(\""+rowId+"\");")">
                                @Html.DisplayFor(modelItem => item.Credits)
                            </td>
                            <td style="width:25%;" class="@(@item.Compulsory ? "compulsoryModule" : item.AbleToBeChosen ? "module-able-to-be-chosen" : "module-unable-to-be-chosen")" onclick="@(@item.Compulsory ? "" : "rowClicked(\""+rowId+"\");")">
                                @Html.DisplayFor(modelItem => item.ModuleCode)
                            </td>
                            <td id="@("semester_for_"+ item.ModuleId)" class="@(@item.Compulsory ? "compulsoryModule" : item.AbleToBeChosen ? "module-able-to-be-chosen" : "module-unable-to-be-chosen")" onclick="@(@item.Compulsory ? "" : "rowClicked(\""+rowId+"\");")">
                                @Html.DisplayFor(modelItem => item.Semester)
                            </td>
                            <td class="@(@item.Compulsory ? "compulsoryModule" : item.AbleToBeChosen ? "module-able-to-be-chosen" : "module-unable-to-be-chosen")" onclick="@(@item.Compulsory ? "" : "rowClicked(\""+rowId+"\");")">
                                @Html.DisplayFor(modelItem => item.YearOfStudy)
                            </td>
                            @if (!item.Compulsory)
                            {
                                <td class="@(@item.Compulsory ? "compulsoryModule" : item.AbleToBeChosen ? "module-able-to-be-chosen" : "module-unable-to-be-chosen")">
                                    <input type="checkbox" id="@("checkbox_for_year_" + item.YearOfStudy + "_module_" + item.ModuleId)" class="checkbox" onclick="preferredModuleButtonClick(this);" />
                                </td>
                            }
                            else
                            {
                                <td class="@(@item.Compulsory ? "compulsoryModule" : item.AbleToBeChosen ? "module-able-to-be-chosen" : "module-unable-to-be-chosen")"></td>
                            }
                        </tr>
                        if (item.ModulePrerequisites.Any())
                        {
                            <tr class="prerequisite-header">
                                <td class="prerequisite-header nothing">
                                    <div>
                                        @Strings.PrerequisitesToTakeThisModule:
                                    </div>
                                </td>
                                @for (var num = 0; num < 5; num++)
                                {
                                    <text>
                                        <td class="prerequisite-header nothing">
                                            <div>
                                            </div>
                                        </td>
                                    </text>
                                }
                            </tr>
                        }
                        foreach (var pr in item.ModulePrerequisites)
                        {
                            pr.PrerequisiteSemester = pr.PrerequisiteSemester == "3" ? "Both" : pr.PrerequisiteSemester;
                            <tr id="@("prereq_" + pr.PrerequisiteModuleId + "_row_for_" + item.ModuleId)" class="prerequisite nothing" onclick="prereqOrFutureClicked(this);">
                                <td class="@(pr.PrerequisiteCompulsory || pr.PrerequisitePreferred ? "chosenprerequisite" : "prerequisite") nothing">
                                    <div class="title">
                                        @Html.DisplayFor(modelItem => pr.PrerequisiteTitle)
                                    </div>
                                </td>
                                <td class="@(pr.PrerequisiteCompulsory || pr.PrerequisitePreferred ? "chosenprerequisite" : "prerequisite") nothing"></td>
                                <td class="@(pr.PrerequisiteCompulsory || pr.PrerequisitePreferred ? "chosenprerequisite" : "prerequisite") nothing">
                                    <div>
                                        @Html.DisplayFor(modelItem => pr.PrerequisiteCredits)
                                    </div>
                                </td>
                                <td class="@(pr.PrerequisiteCompulsory || pr.PrerequisitePreferred ? "chosenprerequisite" : "prerequisite") nothing">
                                    <div>
                                        @Html.DisplayFor(modelItem => pr.PrerequisiteModuleCode)
                                    </div>
                                </td>
                                <td class="@(pr.PrerequisiteCompulsory || pr.PrerequisitePreferred ? "chosenprerequisite" : "prerequisite") nothing">
                                    <div>
                                        @Html.DisplayFor(modelItem => pr.PrerequisiteSemester)
                                    </div>
                                </td>
                                <td class="@(pr.PrerequisiteCompulsory || pr.PrerequisitePreferred ? "chosenprerequisite" : "prerequisite") nothing">
                                    <div>
                                        @Html.DisplayFor(modelItem => pr.PrerequisiteYearOfStudy)
                                    </div>
                                </td>
                                <td class="@(pr.PrerequisiteCompulsory || pr.PrerequisitePreferred ? "chosenprerequisite" : "prerequisite") nothing">
                            </tr>
                        }
                        if (item.FutureAvailableOptions.Any())
                        {
                            <tr class="future-module-header">
                                <td class="future-module-header nothing">
                                    <div>
                                        @Strings.ThisModuleEnablesYouToTakeTheFollowingModules:
                                    </div>
                                </td>
                                @for (var num = 0; num < 5; num++)
                                {
                                    <text>
                                        <td class="prerequisite-header nothing">
                                            <div>
                                            </div>
                                        </td>
                                    </text>
                                }
                            </tr>
                        }
                        foreach (var fo in item.FutureAvailableOptions)
                        {
                            fo.FutureAvailableSemester = fo.FutureAvailableSemester == "3" ? "Both" : fo.FutureAvailableSemester;
                            <tr id="@("future_" + fo.FutureAvailableModuleId + "_row_for_" + item.ModuleId)" class="future-module nothing" onclick="prereqOrFutureClicked(this);">
                                <td class="future-module nothing">
                                    <div class="title">
                                        @Html.DisplayFor(modelItem => fo.FutureAvailableTitle)
                                    </div>
                                </td>
                                <td class="future-module nothing"></td>
                                <td class="future-module nothing">
                                    <div>
                                        @Html.DisplayFor(modelItem => fo.FutureAvailableCredits)
                                    </div>
                                </td>
                                <td class="future-module nothing">
                                    <div>
                                        @Html.DisplayFor(modelItem => fo.FutureAvailableModuleCode)
                                    </div>
                                </td>
                                <td class="future-module nothing">
                                    <div>
                                        @Html.DisplayFor(modelItem => fo.FutureAvailableSemester)
                                    </div>
                                </td>
                                <td class="future-module nothing">
                                    <div>
                                        @Html.DisplayFor(modelItem => fo.FutureAvailableYearOfStudy)
                                    </div>
                                </td>
                                <td class="future-module nothing"></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
}

@* List of divs which are used as an informative key to the user, showing what each colour means *@
<div id="key-div">
    Compulsory:
    <i id="compulsory-key" class="fa fa-square"></i>
    Currently Available Option:
    <i id="available-option-key" class="fa fa-square"></i>
    Currently Unvailable Option:
    <i id="unavailable-option-key" class="fa fa-square"></i>
</div>

@* Allow user to view disclaimer*@
<p style="float:right;">**Disclaimer: Module preferences are not final. Availability may change.**</p>

@* List of hidden divs, each can be shown accordingly depending on what message needs to be shown at the time. *@
<div class="error-message" id="max-credits-reached">Maximum Credits Reached!</div>
<div class="error-message" id="semester-split-limit-reached">Semester Split Limit Reached!</div>
<div class="error-message" id="prerequisites-required">Prerequisites Required!</div>

<script>
    function rowClicked(rowId) {
        //Using the row id, get the row
        var row = $("#".concat(rowId));

        //Split the row id in order to get the module id
        var splitRowId = rowId.split("_");
        var moduleId = splitRowId[2];

        //Get the icon for this row
        var icon = $("#title_icon_for_".concat(moduleId));

        //If the icon is down, then reverse so the icon points up, otherwise do the opposite.
        //This is used to indicate that the row is expanded or not
        if (icon.hasClass("fa-angle-down")) {
            icon.removeClass("fa-angle-down");
            icon.addClass("fa-angle-up");
        }
        else {
            icon.removeClass("fa-angle-up");
            icon.addClass("fa-angle-down");
        }

        //Get the prerequisite and future options for the module
        var prereqsAndFutureOptions = row.nextUntil(".module").find('div');

        //If the display is none at the time of clicking, then show them and slide them down. Otherwise slide them up and hide them.
        if (prereqsAndFutureOptions.css('display') == 'none') {
            row.nextUntil(".module").find('td').removeClass("nothing");
            row.nextUntil(".module").find('div').slideDown('fast')
        }
        else {
            row.nextUntil(".module").find('div').slideUp('fast')
            row.nextUntil(".module").find('td').addClass("nothing");
        }
    }

    function courseYearHeaderClicked(year) {
        //Get the rows for the modules on the course
        var rows = $("#course-year-".concat(year).concat("-modules"));

        //Get the icon which indicates if the row list is expanded or not
        var icon = $("#title_icon_for_year_".concat(year));

        //If the list icon is facing down then reverse so that it is facing up, do the reverse for the other outcome
        if (icon.hasClass("fa-angle-down")) {
            icon.removeClass("fa-angle-down");
            icon.addClass("fa-angle-up");
        }
        else {
            icon.removeClass("fa-angle-up");
            icon.addClass("fa-angle-down");
        }

        //If the rows are not displayed currently then display them, otherwise hide them
        if (rows.css('display') == 'none') {
            rows.slideDown('slow');
        }
        else {
            rows.slideUp('slow');

        }
    }

    function viewPathways() {
        //If the pathways view button is clicked when already showing the PDF, then hide the PDF, otherwise show it.
        if ($("#pdf-div").css('display') == 'none') {
            $("#pdf-div").slideDown('fast');
        }
        else {
            $("#pdf-div").slideUp('fast');
        }
    }

    function prereqOrFutureClicked(object) {
        //Get the object id and split it to get the module id
        var splitObject = object.id.split("_");
        var moduleId = splitObject[1];

        //Get the destination element
        var destinationElement = $('#row_for_'.concat(moduleId));

        //Take the user to that element on the screen, flash a few times so the user knows which module they have clicked and where it is.
        $("html, body").animate({ scrollTop: destinationElement.offset().top }, 1000)
        destinationElement.fadeIn(100).fadeOut(100).fadeIn(100).fadeOut(100).fadeIn(100);
    }

    function preferredModuleButtonClick(cb) {
        //Show the loading symbol
        showLoader();

        //Split the checkbox id into sections
        var splitcb = cb.id.split("_");

        //Retrieve the module id and year of study from the checkbox id
        var moduleId = splitcb[5];
        var yearOfStudy = splitcb[3];

        //If the module has been removed. Get the current total of credits for each year of study e.g. 110/120
        if (!cb.checked) {
            var totalCreditsForYearDic = {};
            var semsesterOneCreditsForYearDic = {};
            var semsesterTwoCreditsForYearDic = {};
            for (var i = 1; i <= @(numberOfYears); i++) {
                totalCreditsForYearDic[i] = getCurrenttotalCreditsForYearDic(i);

                var semsesterSplitForYear = getCurrentSemesterSplitForYear(i);
                var semesterOneCredits = parseInt(semsesterSplitForYear[0]);
                var semesterTwoCredits = parseInt(semsesterSplitForYear[1]);

                semsesterOneCreditsForYearDic[i] = semesterOneCredits;
                semsesterTwoCreditsForYearDic[i] = semesterTwoCredits;
            }

            var selectedModuleCredits = getCreditsForModule(moduleId);
            var selectedModuleSemester = getSemesterForModule(moduleId);

            totalCreditsForYearDic[yearOfStudy] -= selectedModuleCredits;
            if (selectedModuleSemester == "1") {
                semsesterOneCreditsForYearDic[yearOfStudy] -= selectedModuleCredits;
            }
            else if (selectedModuleSemester == "2") {
                semsesterTwoCreditsForYearDic[yearOfStudy] -= selectedModuleCredits;
            }
            else {
                semsesterOneCreditsForYearDic[yearOfStudy] -= selectedModuleCredits / 2;
                semsesterTwoCreditsForYearDic[yearOfStudy] -= selectedModuleCredits / 2;
            }

            //Get the future modules with the selected module as a prerequisite
            var moduleRowsWithThisPrereq = getModuleRowsWithThisPrereq(moduleId);

            for (var i = 0; i < moduleRowsWithThisPrereq.length; i++) {
                //Get one of the rows with this prerequisite
                var rowWithThisPrereq = $("#".concat(moduleRowsWithThisPrereq[i].id));
                var rowWithThisPrereqIdSplit = rowWithThisPrereq.attr('id').split("_");

                //Use the prereq row to find the parent module row which has the selected row as a prereq
                var parentModuleId = rowWithThisPrereqIdSplit[4];
                var parentRow = $("#row_for_".concat(parentModuleId));

                //Get the parent row checkbox value.
                var parentCheckboxId = parentRow.find('input').attr('id');
                var parentCheckbox = document.getElementById(parentCheckboxId);

                if (parentCheckbox.checked) {
                    //Split the checkbox id into sections
                    var splitParentCheckbox = parentCheckbox.id.split("_");
                    var parentYearOfStudy = splitParentCheckbox[3];

                    var parentCredits = getCreditsForModule(parentModuleId);
                    var parentSemester = getSemesterForModule(parentModuleId);

                    totalCreditsForYearDic[parentYearOfStudy] -= parentCredits;

                    if (parentSemester == "1") {
                        semsesterOneCreditsForYearDic[parentYearOfStudy] -= parentCredits;
                    }
                    else if (parentSemester == "2") {
                        semsesterTwoCreditsForYearDic[parentYearOfStudy] -= parentCredits;
                    }
                    else {
                        semsesterOneCreditsForYearDic[parentYearOfStudy] -= parentCredits / 2;
                        semsesterTwoCreditsForYearDic[parentYearOfStudy] -= parentCredits / 2;
                    }
                }
            }

            for (var i = 1; i <= @(numberOfYears); i++) {
                var totalCreditsColumn = $("#credits_for_year_".concat(i));
                var semesterSplitColumn = $("#semester_split_for_year_".concat(i));

                var newTotal = totalCreditsForYearDic[i];
                var semesterOne = semsesterOneCreditsForYearDic[i];
                var semesterTwo = semsesterTwoCreditsForYearDic[i];

                $("#credits_selection_progress_icon_for_year_".concat(yearOfStudy)).css("color", "red");
                totalCreditsColumn.text(newTotal.toString().concat("/120 Credits selected "));
                semesterSplitColumn.text("Year ".concat(i).concat(" - Selected Semester Credit Split: ".concat(semesterOne).concat("/").concat(semesterTwo)));

            }
        }

        handlePreferredModuleClick(cb, moduleId, yearOfStudy);

        setTimeout(function () {
            $("#loader-div").hide();
            $("input[type=checkbox]").removeAttr('disabled');
        }, 250);
    }

    function getModuleRowsWithThisPrereq(moduleId) {
        //Get the module rows which have the prefered module as a prereq
        return document.querySelectorAll('[id^="prereq_'.concat(moduleId).concat('"]'));
    }

    function handlePreferredModuleClick(cb, moduleId, yearOfStudy) {
        var rowForSelectedModule = $("#row_for_".concat(moduleId));
        //Check if the module is able to be preferred. If not then show error.
        if (rowForSelectedModule.hasClass("module-unable-to-be-chosen") && cb.checked) {
            cb.checked = false;
            messageShow($("#prerequisites-required"));
            return;
        }

        //Get the module rows which have the prefered module as a prereq
        var moduleRowsWithThisPrereq = document.querySelectorAll('[id^="prereq_'.concat(moduleId).concat('"]'));

        //Iterate through the modules with the selected module as a prereq
        for (var i = 0; i < moduleRowsWithThisPrereq.length; i++) {
            //Get one of the rows with this prerequisite
            var rowWithThisPrereq = $("#".concat(moduleRowsWithThisPrereq[i].id));
            var rowWithThisPrereqIdSplit = rowWithThisPrereq.attr('id').split("_");

            //Use the prereq row to find the parent module row which has the selected row as a prereq
            var parentModuleId = rowWithThisPrereqIdSplit[4];
            var parentRow = $("#row_for_".concat(parentModuleId));

            //If the initial selected module has been cb.checked/preferred then do the following:
            if (cb.checked) {
                //Change the appearance of the prereq rows so that they appear as chosen.
                rowWithThisPrereq.find('td').removeClass("prerequisite");
                rowWithThisPrereq.find('td').addClass("chosenprerequisite");

                //Get a list of non-chosen prerequisites for the parent row.
                var list = parentRow.nextUntil(".module").find('td.prerequisite');

                //If there are no non-chosen prerequisites this will mean the module matches the criteria.
                //Therefore allow the parent row to be preffered.
                if (list.length == 0) {
                    parentRow.removeClass("module-unable-to-be-chosen")
                    parentRow.addClass("module-able-to-be-chosen");
                    parentRow.find('td.module-unable-to-be-chosen').removeClass("module-unable-to-be-chosen").addClass("module-able-to-be-chosen");
                }
            }
            else {
                //If the selected row has been deselected then change the appearence of the prereqs so they are unchosen
                rowWithThisPrereq.find('td').removeClass("chosenprerequisite");
                rowWithThisPrereq.find('td').addClass("prerequisite");

                //Make the parent row with the selected module as a prereq unable to be chosen.
                parentRow.removeClass("module-able-to-be-chosen");
                parentRow.addClass("module-unable-to-be-chosen");
                parentRow.find('td.module-able-to-be-chosen').removeClass("module-able-to-be-chosen").addClass("module-unable-to-be-chosen");

                //Get the parent row checkbox value.
                var parentCheckboxId = parentRow.find('input').attr('id');
                var parentCheckbox = document.getElementById(parentCheckboxId);

                //If the row preffered column is cb.checked then we will need to remove this preferred option from the database
                //as it is no longer able to be chosen due to missing prerequisites.
                if (parentCheckbox.checked) {
                    parentCheckbox.checked = false;
                }
            }
        }

        //Get total selected credits for year
        var totalCredits = getCurrenttotalCreditsForYearDic(yearOfStudy);

        //If the total credits is already at 120 then respond with limit error message
        if (totalCredits === 120 && cb.checked) {
            cb.checked = false;
            messageShow($("#max-credits-reached"));
            return;
        }

        var totalCreditsColumn = $("#credits_for_year_".concat(yearOfStudy));
        var semesterSplitColumn = $("#semester_split_for_year_".concat(yearOfStudy));
        var credits = getCreditsForModule(moduleId);
        var semester = getSemesterForModule(moduleId);

        //Parse the semester credit totals as ints
        var resultSplit = getCurrentSemesterSplitForYear(yearOfStudy);
        var semesterOneCredits = parseInt(resultSplit[0]);
        var semesterTwoCredits = parseInt(resultSplit[1]);

        //Initialise total credits variable
        var newTotal = 0;

        if (cb.checked) {
            //If the module is now preferred. Check the semseter and see if the is an appropriate split.
            //If not then show a semsester credit limit error message.
            if (semester == "1") {
                semesterOneCredits += credits;
                if (semesterOneCredits > 75) {
                    cb.checked = false;
                    messageShow($("#semester-split-limit-reached"));
                    return;
                }
            }
            else if (semester == "2") {
                semesterTwoCredits += credits;
                if (semesterTwoCredits > 75) {
                    cb.checked = false;
                    messageShow($("#semester-split-limit-reached"));
                    return;
                }
            }
            else {
                semesterOneCredits += credits / 2;
                semesterTwoCredits += credits / 2;
                if (semesterOneCredits > 75 || semesterTwoCredits > 75) {
                    cb.checked = false;
                    messageShow($("#semester-split-limit-reached"));
                    return;
                }
            }
            //Calculate new totals and change the on screen text accordingly. Show success message.
            newTotal = totalCredits + credits;
            if (newTotal == 120) {
                $("#credits_selection_progress_icon_for_year_".concat(yearOfStudy)).css("color", "green");
            }
            totalCreditsColumn.text(newTotal.toString().concat("/120 Credits selected "));
            semesterSplitColumn.text("Year ".concat(yearOfStudy).concat(" - Selected Semester Credit Split: ".concat(semesterOneCredits).concat("/").concat(semesterTwoCredits)));
        }
    }

    function getCreditsForModule(moduleId, yearOfStudy) {
        //Use the module Id to locate the credits for that module
        var creditsColumn = $("#credits_for_".concat(moduleId));

        //Parse the values as ints for credits
        var credits = parseInt(creditsColumn.text());

        return credits;
    }

    function getCurrenttotalCreditsForYearDic(yearOfStudy) {
        //Get the total credits for the year
        var totalCreditsColumn = $("#credits_for_year_".concat(yearOfStudy));
        var totalCredits = parseInt(totalCreditsColumn.text());

        return totalCredits;
    }

    function getSemesterForModule(moduleId) {
        //Use the module Id to locate the semster column for that module
        var semesterColumn = $("#semester_for_".concat(moduleId));

        //Parse the values as ints for semester
        var semester = parseInt(semesterColumn.text());

        return semester;
    }

    function getCurrentSemesterSplitForYear(yearOfStudy) {
        //Split the semster column text and retrive the two semster credit totals
        var semesterSplitColumn = $("#semester_split_for_year_".concat(yearOfStudy));
        var semesterSplitText = semesterSplitColumn.text();
        var semesterSplitTextSplit = semesterSplitText.split(" ");
        var result = semesterSplitTextSplit.pop();
        var resultSplit = result.split("/");

        return resultSplit;
    }

    function messageShow(item) {
        //Show message for a short period of time.
        item.slideDown("fast").delay(2000);
        item.slideUp("fast");
    }
</script>
