﻿@using PotentialStudent.Site.Models
@using ModuleChooser.Resources.Strings;

@{
    ViewBag.Title = Strings.ModuleList;
    ViewBag.ShowLogo = true;
}

@model List<CourseCompactModel>

@section RenderCss {
    <link rel="stylesheet" href="~/Content/ModuleList.css" type="text/css" />
}

<form action="https://localhost:24080/SignOn/Account/Login">
    <input type="submit" id="sign-in-button" value="@Strings.SignIn" />
</form>
<br />

<div id="loader-div">
    <i class="loader fa fa-spinner fa-spin"></i>
</div>

@Html.Label("Courses", new { @id = "course-label" })
<p>@Strings.CurrentlyNotSignedIn</p>
@Html.DropDownList("Courses", new SelectList(Model, "Id", "Title"))
<input id="view-modules-button" value="View Modules" type="button" onclick="getModuleList()" />
<hr />
<div id="module-list">
</div>

<script>
    function getModuleList() {
        $("select").attr('disabled', 'true');
        //Start loading data
        showLoader()
        //Get course value to use
        var selectedCourseValue = $("#Courses").val();

        //Send GET request to ModuleListPartial, sending the selectedCourseValue and then render the HTML response in the module-list div
        $.ajax({
            url: "@Url.Action("ModuleListPartial", "Module")",
            type: "GET",
            data: {
                courseId: selectedCourseValue
            },
            success: function (response) {
                $("#module-list").html(response);

                //Hide loader.
                $("#loader-div").hide();
                $("input[type=checkbox]").removeAttr('disabled');
                $("select").removeAttr('disabled');
            }
        });
    }

    function showLoader() {
        //Show loader when contents loading
        $("#loader-div").show();
        $("input[type=checkbox]").attr('disabled', 'true');
    }
</script>