﻿body {
    width: 100%;
    min-width: 700px;
    min-height: 500px;
    background-color:#51504c;
}

.container {
    background-color: white;
    width:100%;
    min-height:100vh;
}

footer {
    background: grey;
    padding: 10px;
    height: 50px;
    width: 100%;
    /*position:fixed;
    bottom: 0;*/
}

.img-div {
    content:"";
    width: 100%;
    background: #101010;
    height:150px;
}
#header-div {
    float:right;
    width:100%;
}

#signout {
    float: right;
}

#uni-logo {
    width: 350px;
    height: 100px;
    margin: auto;
    margin-right: 5%;
    margin-top: 40px;
    float: right;
    filter: invert(100%);
}

#login-form {
    width: 50%;
    margin: 0 auto;
    margin-top:10%;
}

.input-text{
    display:inline;
    height:40px;
    margin-bottom:5%;
    width:100%;
    font-size: 2em;
}

.login-label{
    width:100%;
    font-size:2.5em;
    display:inline;
}

#copyright-logo {
    color: white;
}

.button {
    display: inline-block;
    font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
    background-color: rgb(179, 27, 27);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    margin-top:5%;
    cursor: pointer;
}