.compulsoryModule {
    background-color: rgba(89,89,89, 0.2) !important;
}

.nothing {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border: 0px !important;
}

.prerequisite, .future-module {
    background-color: rgba(135,206,250, 0.1) !important;
    color: black !important;
    cursor: pointer;
    font-size: 1.1em !important;
}

    .prerequisite div, .future-module div, .chosenprerequisite div {
        display: none;
        padding-left: 10%;
        cursor: pointer;
    }

.chosenprerequisite {
    background-color: rgba(36, 245, 36, 0.30) !important;
    color: black !important;
    cursor: pointer;
    font-size: 1.1em !important;
}

.prerequisite-header div, .future-module-header div {
    display: none;
    padding-left: 5%;
}

.module-container {
    border: solid gray 1px;
    margin-bottom: 1%;
    margin-top: 1%;
    padding: 1%;
}

.course-year-modules{
    display:none;
}

.module {
    font-size: 1.6em !important;
}

.non-compulsory-module td {
    cursor: pointer !important;
    border-color: black !important;
}

.module-able-to-be-chosen {
    cursor: pointer !important;
    background-color: rgba(73, 255, 0, 0.3) !important;
    border-color: black !important;
}

.module-unable-to-be-chosen {
    cursor: pointer !important;
    background-color: rgba(255, 0, 0, 0.3) !important;
    border-color: black !important;
}

.table tbody > tr > td {
    vertical-align: middle !important;
}

.checkbox {
    transform: scale(1.8);
    width: 100%;
    line-height: 100%;
}

.fa-download {
    font-size: 2em;
}

    .fa-download:hover {
        color: dodgerblue !important;
        cursor: pointer;
    }

.fa-eye {
    font-size: 2em;
    margin-left: 5px;
    color: black;
}

    .fa-eye:hover {
        color: dodgerblue !important;
        cursor: pointer;
    }

object {
    width: 100%;
    height: 800px;
}

#pdf-div {
    display: none;
}

.error-message {
    clear: both;
    border-radius: 10px 10px 0px 0px;
    background: #ff0000;
    color: black;
    text-align: center;
    line-height: normal;
    position: fixed;
    bottom: 0px;
    width: 35%;
    font-size: 2em;
    display: none;
}

.success-message {
    clear: both;
    border-radius: 10px 10px 0px 0px;
    background: #1ae21a;
    color: black;
    text-align: center;
    line-height: normal;
    position: fixed;
    bottom: 0px;
    width: 35%;
    font-size: 2em;
    display: none;
}

#loader-div {
    opacity: 0.5;
    background: #000;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
    display:none;
    pointer-events: none;
}

.loader {
    position: fixed;
    top: 45%;
    left:50%;
    font-size: 4em;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    vertical-align: middle;
}

#Courses{
    width:79%;
    font-size: 2em;
    padding: 1%;
}

#course-label{
    width:100%;
    font-size: 2em;
}

#view-modules-button{
    width: 20%;
    font-size: 1.5em;
    color: white;
    background-color: red;
    border: none;
    padding: 1%;
}

#sign-in-button {
    width: 20%;
    font-size: 1.5em;
    color: white;
    background-color: blue;
    border: none;
    padding: 1%;
}

#compulsory-key {
    font-size: 1.5em;
    color: rgba(89,89,89,0.4);
}

#available-option-key {
    font-size: 1.5em;
    color: rgba(73, 255, 0, 0.6);
}

#unavailable-option-key {
    font-size: 1.5em;
    ;
    color: rgba(255, 0, 0, 0.6);
}

#key-div {
    border: dashed 1px;
    padding: 2%;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}