﻿@using ModuleChooser.Resources.Strings;

@{
    ViewBag.Title = Strings.Login;
}

@section RenderCss {
    <link rel="stylesheet" href="~/Content/Login.css" type="text/css" />
}

<div>
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        <div>
            @Html.Label("Username")
            @Html.TextBox("Username")
        </div>
        <div>
            @Html.Label("Password")
            @Html.Password("Password")
        </div>
        @Html.ValidationSummary()
        <input type="submit" value="Login" />
    }
</div>
