﻿@using Administration.Site.Models;
@using ModuleChooser.Resources.Strings;

@{
    ViewBag.Title = Strings.AddCourse;
}

@section RenderCss {
    <link rel="stylesheet" href="~/Content/AddModule.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/AddCourse.css" type="text/css" />
}

@model AddCourseModel

<h2>@Strings.AddCourse</h2>

<form id="form" action="@Url.Action("SaveNewCourse","Course")" method="post">
    <div id="information-div">
        <div>
            @Html.LabelFor(m => m.Title, new { @class = "information-label" })
            @Html.TextBoxFor(m => m.Title)
            @Html.ValidationMessageFor(m => m.Title)
        </div>
        <div>
            @Html.LabelFor(m => m.NumberOfYears, new { @class = "information-label" })
            @Html.DropDownListFor(m => m.NumberOfYears, Model.YearOptions)
            @Html.ValidationMessageFor(m => m.NumberOfYears)
        </div>
        <div>
            <input class="button" type="submit" value="Save" />
        </div>
    </div>
</form>