﻿@using Administration.Site.Models;
@using ModuleChooser.Resources.Strings;

@{
    ViewBag.Title = Strings.AddModulesToCourse;
    ViewBag.Heading = Strings.AddModulesToCourse;

    //Get the number of years to use later
    var numberOfYears = Model.Select(m => m.YearOfStudy).Max();
}

@section RenderCss {
    <link rel="stylesheet" href="~/Content/AddModule.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/AddModulesToCourse.css" type="text/css" />
}
@model List<AddModulesToCourseModel>

<button id="editButton" onclick="toggleNonClickable()">@Strings.ToggleEdit</button>

<div class="nonClickable" id="overlay">
    @for (int i = 1; i < numberOfYears + 1; i++)
    {
        <table id="table_id" class="table table-condensed table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        @Strings.Title
                    </th>
                    <th>
                        @Strings.Credits
                    </th>
                    <th>
                        @Strings.ModuleCode
                    </th>
                    <th>
                        @Strings.Semester
                    </th>
                    <th>
                        @Strings.YearOfStudy
                    </th>
                    <th>
                        @Strings.Compulsory
                    </th>
                    <th>
                        @Strings.Option
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Where(m => m.YearOfStudy == i))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Credits)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModuleCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Semester)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.YearOfStudy)
                        </td>
                        <td>
                            @if (item.Compulsory)
                            {
                                @Html.CheckBox("compulsory_checkbox_for_" + @item.ModuleId, new { @onClick = "handleCompulsoryClick(this);", @checked = "true" })
                            }
                            else
                            {
                                @Html.CheckBox("compulsory_checkbox_for_" + @item.ModuleId, new { @onClick = "handleCompulsoryClick(this);" })
                            }
                        </td>
                        <td>
                            @if (item.Option)
                            {
                                @Html.CheckBox("option_checkbox_for_" + @item.ModuleId, new { @onClick = "handleOptionClick(this);", @checked = "true" })
                            }
                            else
                            {
                                @Html.CheckBox("option_checkbox_for_" + @item.ModuleId, new { @onClick = "handleOptionClick(this);" })
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <div class="response-message" id="save-successful">@Strings.SavedSuccessfully</div>
    <div class="response-message" id="remove-successful">@Strings.RemovedSuccessfully</div>
</div>
<script type="text/javascript">

    function handleOptionClick(cb) {
        handleCheckboxClick(cb, false);
    }

    function handleCompulsoryClick(cb) {
        handleCheckboxClick(cb, true);
    }

    function handleCheckboxClick(cb, compulsory) {
        var splitcb = cb.id.split("_");
        if (compulsory) {
            //If compulsory clicked then check the option box to see if this is already selected
            splitcb[0] = "option";
        }
        else {
            //If option clicked then check the compulsory box to see if this is already selected
            splitcb[0] = "compulsory";
        }

        //Get the otherbox. eg. if option chosen then the otherbox will be the compulsory box
        var otherbox = "#".concat(splitcb.join("_"));

        //Get module id
        var moduleId = splitcb[3];

        //If the otherbox is already selected then deselect this box and call the changeCompulsoryStatus method.
        if ($(otherbox).is(':checked')) {
            changeCompulsoryStatus(moduleId);
            $(otherbox).removeAttr('checked');
        }
        else {
            //Otherwise save the module to course.Or remove if its been deselected
            if ($(cb).is(':checked')) {
                saveModuleToCourse(moduleId, compulsory)
            }
            else {
                removeModuleFromCourse(moduleId)
            }
        }
    }

    function saveModuleToCourse(moduleId, compulsory) {
        //Call the SaveModuleToCourse controller method , and show success message
        $.ajax({
            type: "POST",
            url: "@Url.Action("SaveModuleToCourse", "Course")",
            data: {
                moduleId: moduleId,
                courseId: "@ViewBag.CourseId",
                compulsory: compulsory

            },
            success: function () {
                messageShow($("#save-successful"));
            }
        });
    }

    function changeCompulsoryStatus(moduleId) {
        //Call the ChangeCompulsoryStatus controller method , and show success message
        $.ajax({
            type: "POST",
            url: "@Url.Action("ChangeCompulsoryStatus", "Course")",
            data: {
                moduleId: moduleId,
                courseId: "@ViewBag.CourseId"
            },
            success: function () {
                messageShow($("#save-successful"));
            }
        });
    }

    function removeModuleFromCourse(moduleId) {
        //Call the RemoveModuleFromCourse controller method , and show success message
        $.ajax({
            type: "POST",
            url: "@Url.Action("RemoveModuleFromCourse", "Course")",
            data: {
                moduleId: moduleId,
                courseId: "@ViewBag.CourseId"
            },
            success: function () {
                messageShow($("#remove-successful"));
            }
        });
    }

    function messageShow(item) {
        //Show message pop up
        item.slideDown("fast").delay(2000);
        item.slideUp("fast");
    }

    function toggleNonClickable() {
        //If the toggel edit button is clicked then toggle whether editing is allowed on the page.
        if ($('#overlay').hasClass('nonClickable')) {
            $('#overlay').removeClass('nonClickable');
        }
        else {
            $('#overlay').addClass('nonClickable');
        }
    }
</script>
