﻿@using Administration.Site.Models
@using ModuleChooser.Resources.Strings;

@{
    ViewBag.Title = Strings.CourseList;
    ViewBag.Heading = Strings.CourseList;
}

@section RenderCss {
    <link rel="stylesheet" href="~/Content/CourseList.css" type="text/css" />
}

@model List<CourseModel>

<table id="table_id" class="table table-condensed table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Strings.Title
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.ActionLink(Strings.ManageCourseModules, "AddModulesToCourse",
                      new { courseId = item.Id }, htmlAttributes: new
                      {
                          @class = "btn btn-default btn-sm add-modules-button"
                      })
                </td>
            </tr>
        }
    </tbody>
</table>