﻿@using ModuleChooser.Resources.Strings;

<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/x-icon" href="~/icon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Strings.University</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("RenderCss", false)
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        @if (ViewBag.ShowLogo == null)
        {
            ViewBag.ShowLogo = true;
        }
        @if (ViewBag.ShowLogo)
        {
            <div class="img-div">
                <img alt="univeristy of leeds logo" id="uni-logo" src="~/Content/UniversityLogo.png"/>
            </div>

            <div id="ModuleDropDown" class="dropdown">
                <button class="dropbtn">@Strings.Modules</button>
                <div class="dropdown-content">
                    @Html.ActionLink(Strings.ModuleList, "ModuleList", "Module")
                    @Html.ActionLink(Strings.AddModule, "AddModule", "Module")
                    @Html.ActionLink(Strings.Prerequisites, "Prerequisites", "Module")
                    @Html.ActionLink(Strings.Reports, "Reports", "Reports")
                </div>
            </div>
            <div id="CourseDropDown" class="dropdown">
                <button class="dropbtn">@Strings.Courses</button>
                <div class="dropdown-content">
                    @Html.ActionLink(Strings.CourseList, "CourseList", "Course")
                    @Html.ActionLink(Strings.AddCourse, "AddCourse", "Course")
                </div>
            </div>
            <div id="StudentDropDown" class="dropdown">
                <button class="dropbtn">@Strings.Students</button>
                <div class="dropdown-content">
                    @Html.ActionLink(Strings.StudentList, "StudentList", "Student")
                    @Html.ActionLink(Strings.AddStudent, "AddStudent", "Student")
                </div>
            </div>

            <div id="header-div">
                <h2 id="header">@ViewBag.Heading</h2>
                <form id="signout" action="https://localhost:24080/SignOn/Account/SignOut">
                    <input type="submit" value="@Strings.SignOut" />
                </form>
            </div>
        }
        @RenderBody()
    </div>
    @if (ViewBag.ShowLogo)
    {
        <footer>
            <p id="copyright-logo">&copy; @DateTime.Now.Year - Callum Goodridge</p>
        </footer>
    }
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>