﻿.field-validation-valid {
    display: none;
}

.field-validation-error {
    width: 85% !important;
    margin-right: 10% !important;
}

.validation-summary-valid {
    display: none;
}

input[type="text"] {
    width: 85% !important;
    margin-left: 5% !important;
}

select {
    width: 85% !important;
    margin-left: 5% !important;
}

.information-label {
    width: 100% !important;
}
