﻿.field-validation-valid {
    display: none;
}

.validation-summary-valid {
    display: none;
}

.response-message {
    clear: both;
    border-radius: 10px 10px 0px 0px;
    background: #7CCD7C;
    color: black;
    text-align: center;
    line-height: normal;
    position: fixed;
    bottom: 0px;
    width: 35%;
    font-size: 2em;
    display: none;
}

.nonClickable {
    pointer-events: none;
    opacity: 0.6;
}
