﻿h3 {
    margin-left: 5%;
}

.information-label {
    float: left;
    width: 29%;
    margin-top: 5%;
    margin-left: 5%;
    font-size: 1.5em;
}

.course-options-label {
    float: left;
    width: 70%;
    font-size: 1.5em;
    margin-top: 5%;
    margin-left: 5%;
}

input[type="submit"] {
    margin-left: 80%;
    float: right;
    margin-top: 10%;
    margin-bottom: 5%;
}

input[type="text"], input[type="number"] {
    width: 60%;
    margin-top: 5%;
    margin-right: 5%;
    font-size: 1.5em;
}

input[type="checkbox"] {
    /*width: 20%;*/
    margin-top: 7%;
    /*margin-right: 5%;*/
    transform: scale(2.5);
}

select {
    width: 60%;
    margin-top: 5%;
    margin-right: 5%;
    font-size: 1.5em;
    height: 36px;
}

#information-div {
    border: 1px solid black;
    padding-bottom: 5%;
}

#course-options-div {
    border: 1px solid black;
    padding-bottom: 5%;
    margin-top: 2%;
    margin-bottom: 5%;
}

.field-validation-error {
    background-color: red;
    color: white;
    float: right;
    width: 60.1%;
    margin-right: 6%;
    font-size: 1em;
    text-align: center;
    padding:0.5%;
}