﻿label {
    float: left;
    width: 50%;
    margin-top: 5%;
    margin-left: 5%;
    font-size: 1.5em;
}

select {
    width: 90%;
    margin-left: 5%;
    font-size: 1.5em;
    height: 36px;
}

input[type="button"] {
    margin-left: 5%;
}

.validation-error {
    background-color: red;
    color: white;
    float: right;
    width: 90%;
    margin-right: 5%;
    font-size: 1em;
    text-align: left;
    padding: 0.5%;
}
