﻿select {
    width: 100%;
    font-size: 1.5em;
    margin-bottom: 2%;
    margin-top: 1%;
}

label {
    width: 50%;
    font-size: 1em;
}

.report-button {
    width: 25%;
    border-color: blue;
    background-color: royalblue;
    color: white
}

.report-button:hover {
    border-color: rgba(0, 0, 255, 0.20);
    background-color: rgba(65, 105, 225, 0.50);
    color: rgba(255, 255, 255, 0.50);
}
