﻿body {
    width: 100%;
    min-width: 700px;
    min-height: 500px;
    background-color:#51504c;
}

.container {
    background-color: white;
    width:100%;
    min-height:100vh;
}

footer {
    background: grey;
    padding: 10px;
    height: 50px;
    width: 100%;
    /*position:fixed;
    bottom: 0;*/
}

.img-div {
    content:"";
    width: 100%;
    background: #101010;
    height:150px;
}
#header-div {
    float:right;
    width:100%;
}

#signout {
    float:right;
}

#uni-logo {
    width: 350px;
    height: 100px;
    margin: auto;
    margin-right: 5%;
    margin-top: 40px;
    float: right;
    filter: invert(100%);
}

#login-form {
    width: 50%;
    margin: 0 auto;
    margin-top:10%;
}

.input-text{
    display:inline;
    /*height:40px;
    margin-bottom:5%;
    width:100%;*/
    font-size: 2em;
}

.login-label{
    /*width:100%;*/
    font-size:2.5em;
    display:inline;
}

#copyright-logo {
    color: white;
}

.button {
    display: inline-block;
    font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
    background-color: rgb(179, 27, 27);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 2em;
    margin-top:5%;
    cursor: pointer;
}

/* navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #101010;
    border-top: 1px solid white;
}

li {
    float: left;
    border-right: 1px solid gray;
    width:33.3%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

    li a:hover {
        background-color: #333;
        color: white;
        text-decoration: none;
    }

.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 33%;
    border: 1px rgba(0,0,0,0.2);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #f1f1f1
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: black;
}

#CourseDropDown {
    float: right;
}