﻿@using ModuleChooser.Resources.Strings;

<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/x-icon" href="~/icon.ico" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Strings.University</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("RenderCss", false)
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="img-div">
            <img alt="univeristy of leeds logo" id="uni-logo" src="~/Content/UniversityLogo.png"/>
        </div>
        <div id="header-div">
            <h2 id="header">@ViewBag.Heading</h2>
        </div>
        @RenderBody()
    </div>
    <footer>
        <p id="copyright-logo">&copy; @DateTime.Now.Year - Callum Goodridge</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
